@tailwind base;
@tailwind components;
@tailwind utilities;

 .heading{
        background: -webkit-linear-gradient(left,#242424,#242424, #84807d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

